<% include partials/header.ejs %>

<div class="card-deck">
	<% users.forEach((user) => { %>
		<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
			<div class="card card-sm">
				<h5 class="card-header text-center"><%= user.name %></h5>
				<div class="card-body">
					<p class="card-text">ID: <%= user._id %></p>
					<p class="card-text">Email: <%= user.email %></p>
					<p class="card-text">Member since: <%= user.memberSince.toDateString() %></p>
					<a href="users/<%= user._id %>"class="btn btn-outline-secondary" role="button">View info</a>
					<a href="api/users/<%= user._id %>" class="btn btn-outline-secondary" role="button">View in JSON</a>
				</div>
			</div>
		</div>
	<% }) %>
</div>

<% include partials/footer.ejs %>