<% include partials/header.ejs %>

<p><%= user._id %></p>
<p><%= user.name %></p>
<p><%= user.email %></p>
<p><%= user.memberSince.toDateString() %></p>
<a href="/users/<%= user._id %>/edit">Edit user</a>

<% include partials/footer.ejs %>